{% extends 'base.html.twig' %} {% block title %}Hello EtatDemandeController!{% endblock %} {% block body %}
<form method="post">

    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Donnez votre CIN</h1>

        <input type="text" name="uuid " id="inputUuid " class="form-control " autocomplete="username " required autofocus>

        <button class=" mt-4 btn btn-lg btn-primary " type="submit ">
           valider
        </button></div>

</form>{% endblock %}