{% extends 'base.html.twig' %} {% block title %}New DemandeCertificat{% endblock %} {% block body %}
<h1> Demande de Certificat</h1>

{{ include('demande_certificat/_form.html.twig') }}

<a class="btn btn-danger  mt-4" href="{{ path('app_demande_certificat_index') }}">Retour</a> {% endblock %}