{% extends 'base.html.twig' %} {% block title %}Modifier DemandeCertificat{% endblock %} {% block body %}
<div class="container">

    <h2 class=" mt-3">Modifier Demande Certificat</h2>

    <form method="get" action="{{ path('app_modifier_success') }}">
        <input type="text" placeholder="Donnez le CIN" name="id" class="form-control mt-3" required>
        <button href="#" class=" mt-4 btn btn-primary">valider</button>

    </form>

</div>


{% endblock %}