{% extends 'base.html.twig' %} {% block title %}Demande{% endblock %} {% block body %}
<div class="container">
    <h3 class=" mt-3 mb-3">Verification </h3>
    <form action="{{path('app_user_show')}}" method="get">
        <div class=" container-fluid ">

            <label for="dateNaissance">Date de Naissance</label><input id="dateNaissance" name="dateNaissance" type="date">
            <button type="submit " class="btn btn-secondary" onclick="app_user_show ">Verifier</button>
        </div>

    </form>


</div>
{% endblock %}