<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Pacifico&family=Raleway+Dots&family=Raleway:wght@200;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div style=" width:300px;" class="">
        <p class=" text-uppercase ">un peuple - un but - une foi</p>
        <hr>
        <hr style="width: 70px; position:relative;left:60px; ">
        <h6 class="text-uppercase ">ministere de l'interieur</h6>
        <hr style="width: 70px;position:relative;left:60px; ">
        <hr>
        <p class="text-uppercase ">direction generale <br> de la police nationale</p>
    </div>
    <h1 style="font-family: Raleway; " class=" mt-5 text-center background-primary ">
        CERTIFICAT <strong>DE DECLARATION DE PERTE</strong> </h1>
    <div class=" mt-5 text-center ">
        <P>Le commissaire de Police, certifie que M. <strong>{{userR.nom }} {{ userR.prenom }}</strong> né le {{ userR.dateNaissance?userR.dateNaissance|format_date('long','dd/MM/y'): '' }},<br> demeurant à Yeumbeul Nord,nous a déclaré avoir perdu sa carte
            d'identité CEDEAO dont le numero est ignoré.</P>
    </div>
    <p class=" mt-5 text-end p-5 ">Délivré le 07/09/2021</p>
    <p style="font-family: Raleway;"><em>NOTA-<strong>Le present certificat ne peut en aucun cas remplacer la pièce déclaré perdue</strong> .</em>
</body>

</html>