<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <div>
        <p>un peuple - un but - une foi</p>
        <hr>
        <h6>ministere de l'interieur</h6>
        <hr>
        <p>direction generale <br> de la police nationale</p>
    </div>
    <h1>
        CERTIFICAT <strong>DE DECLARATION DE PERTE</strong> </h1>
    <div>
        <P>Le commissaire de Police,certifie que M. <strong>Jonh Doe</strong> né le 04/04/1992 ,<br> demeurant à Yeumbeul Nord,nous a déclaré avoir perdu sa carte d'identité CEDEAO dont le numero est ignoré.</P>
    </div>
    <p>Délivré le 07/09/2021</p>
    <p><em>NOTA-<strong>Le present certificat ne peut en aucun cas remplacer la pièce déclaré perdue</strong> .</em>
</body>

</html>